.main {
  display: flex;
  flex-direction: column;
}

.main-page {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiPagination-ul {
  display: flex;
  justify-content: center;
}

.container {
  width: 400px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.container:hover .image-overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-overlay:before {
  content: "click to open more details";
}

h1 {
  display: flex;
  justify-content: center;
}
